<div>
    <p>Desarrollador <strong>Front-End</strong> con habilidades en <strong>ReactJS</strong> y <strong>React Native</strong>, especializado en la creación de interfaces tanto para aplicaciones web como móviles.</p>
</div>

<style>
    div {
        max-width: 520px;
        margin-top: 1vh;
        padding: 0 10px 0 10px;
    }
    p {
        font-size: 18px;
        text-align: justify;
    }
    strong {
        color: #665712;
    }
</style>