---
import ProfileImage from "./profileImage.astro"

const { soy } = Astro.props

---

<div class="flex self-start items-center gap-4 pt-6 pb-2">
    <ProfileImage />
    <p class="text-[24px] text-[#FFFCEE]">{soy} <strong class="text-[#FFFCE] ">Matias</strong></p>
</div>

<style>
    .Profile {
		margin-top: 2rem;
		display: flex;
		gap: 18px;
	}
	.Presentation {
		font-size: 24px;
		color: #FFFCEE;
	}
	strong {
		color: #FFFCEE;
	}
</style>