---
interface Props {
    item: string;
    link: string;
}

const { item, link } = Astro.props
---

<a href={link} target="_blank" class="text-[14px] no-underline bg-[#FFFCEE] text-[#161616] py-0.5 px-4 rounded-xl font-medium ">{item}</a>