---
import ProyectoCard from '../proyecto/proyectoCard.astro'
import { proyectos } from '../../data/proyectos'
---

<section id="proyectos pt-4">
  <div id="jobContainer">
    {proyectos.map(proyecto => (
      <ProyectoCard {...proyecto} />
    ))}
  </div>
</section>