---
const { habilidades = [] } = Astro.props;
---

<div>
  {habilidades.length === 0 ? (
    <p>No skills available.</p>
  ) : (
    habilidades.map(habilidad => (
      <div class="mb-4">
        <h3 class=" font-semibold text-[20px] text-[#FFFCEE] pl-2 pt-2">{habilidad.titulo} {'/>'}</h3>
        <p class=" font-normal text-[16px] text-[#FFFCEE] pl-4 pt-1" >{habilidad.descripcion}</p>
      </div>
    ))
  )}
</div>
