<section id="sobremi">
    <p class="title"><strong class="titlestrong">Sobre mi</strong> {'/>'}</p>
    <p class="sobremitext">Me llamo <strong>Matías Alvez</strong>. Empecé en el mundo de la programación a mediados de 2023. Actualmente me encuentro en búsqueda de mi primera experiencia laboral.</p>
    <p class="sobremitext">Mis conocimientos se basan en el desarrollo <strong>Front-End</strong> basado en <strong>ReactJS</strong>, además de <strong>React Native</strong> para el desarrollo de aplicaciones móviles.</p>
    <p class="sobremitext">Me considero una persona con rápido aprendizaje, con muchas ganas de conocer el mundo profesional y trabajar junto a un equipo de profesionales para poder mejorar mis conocimientos en este medio.</p>
</section>

<style>
    p {
        color: #111
    }
    section {
        margin-top: 2rem;
    }
    .title {
        font-size: 16px;
        padding: 0 10px 0 10px;
    }
    .titlestrong {
        font-size: 20px;
        color: #111;
    }
    .sobremitext {
        max-width: 500px;
        font-size: 18px;
        text-align: justify;
        padding: 0 10px 0 10px;
    }
    strong {
        color: #665712;
    }
</style>