---
// src/pages/index.astro
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; URL=/es" />
    <script>
      const userLang = navigator.language;
      if (userLang.startsWith('es')) {
        window.location.href = '/es';
      } else {
        window.location.href = '/en';
      }
    </script>
  </head>
  <body></body>
</html>
