
<footer class="flex mt-16 justify-between">
    <ul class="flex gap-12">
        <li class="list-none"><a href="/#proyectos" class="text-[18px] font-medium text-[#FFFCEE] ">Proyectos</a></li>
        <li class="list-none"><a href="/#sobremi" class="text-[18px] font-medium text-[#FFFCEE] ">Sobre mi</a></li>
    </ul>
</footer>