---
const { patch } = Astro.props;
---

<header>
  <ul class="flex flex-wrap gap-4 items-center justify-center text-center">
    <li class="flex gap-4 items-center">
      <a
        href="/en"
        class={`text-[#FFFCEE] text-[16px] ${
          patch === 'en' ? 'opacity-100' : 'opacity-50'
        }`}
      >
        English
      </a>
      <a
        href="/es"
        class={`text-[#FFFCEE] text-[16px] ${
          patch === 'es' ? 'opacity-100' : 'opacity-50'
        }`}
      >
        Español
      </a>
    </li>
  </ul>
</header>


<style>
    header {
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        gap: 24px;
    }
    li {
        list-style: none;
    }
    a {
        @apply text-[16px] text-[#FFFCE] font-medium no-underline
    }
</style>