


<header>
    <ul>
        <li><a href="/#proyectos">Proyectos</a></li>
        <li><a href="/#sobremi">Sobre mi</a></li>
    </ul>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        gap: 24px;
    }
    li {
        list-style: none;
    }
    a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #111;
    }
</style>